<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BERNERS-LEE</title>
</head>
<body>
    <h1>Hola, Soy BERNERS-LEE, un gusto verte por acá</h1>
    <h2>Tambien ayude a crear lo que hoy conocen, la web, asi que mas respeto :)</h2>
    <img src="/img/berners-lee.jpg" alt="imagen de berners lee, ayudo a crear parte de que conocemos la web">
</body>
</html>