<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HAMILTON</title>
</head>
<body>
    <h1>Hola, Soy HAMILTON, un gusto verte por acá</h1>
    <h2>No sé si soy el original, pero soy una obra, por si te interesa :)</h2>
    <img src="/img/hamilton.jpg" alt="imagen de hamilton">
</body>
</html>