<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HOME</title>
</head>
<body>
    <h1>Hola, Soy el HOME, un gusto verte por acá</h1>
    <h2>Te muestro a los heroes mencionados</h2>
    <img src="/img/babbage.jpg" alt="imagen de babbage">
    <img src="/img/berners-lee.jpg" alt="imagen de berners lee, ayudo a crear parte de que conocemos la web">
    <img src="/img/clarke.jpg" alt="imagen de clarke">
    <img src="/img/hamilton.jpg" alt="imagen de hamilton">
    <img src="/img/hopper.jpg" alt="imagen de hopper">
    <img src="/img/lovelace.jpg" alt="imagen de lovelace, la programadora del amor">
    <img src="/img/turing.jpg" alt="imagen de turing, el que ayudo a ganar la segunda guerra mundial">
</body>
</html>