<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LOVELACE</title>
</head>
<body>
    <h1>Hola, Soy LOVELACE, un gusto verte por acá</h1>
    <h2>Soy la original, y soy la programadora del amor, te puedo dar un par de clases :)</h2>
    <img src="/img/lovelace.jpg" alt="imagen de lovelace, la programadora del amor">
</body>
</html>