<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>TURING</title>
</head>
<body>
    <h1>Hola, Soy TURING, un gusto verte por acá</h1>
    <h2>Soy Alana turing, y más respeto conmigo, que hice ganar una guerra loco :)</h2>
    <img src="/img/turing.jpg" alt="imagen de turing, el que ayudo a ganar la segunda guerra mundial">
</body>
</html>